.c-0 { width: 0; }
.c-1 { width: 14px; }
.c-2 { width: 28px; }
.c-3 { width: 42px; }
.c-4 { width: 56px; }
.c-5 { width: 70px; }
.c-6 { width: 84px; }
.c-7 { width: 98px; }
.c-8 { width: 112px; }
.c-9 { width: 126px; }
.c-10 { width: 140px; }
.c-11 { width: 154px; }
.c-12 { width: 168px; }
.c-13 { width: 182px; }
.c-14 { width: 196px; }
.c-15 { width: 15em; }
.c-16 { width: 16em; }
.c-17 { width: 17em; }
.c-18 { width: 252px; }
.c-19 { width: 19em; }
.c-20 { width: 20em; }
.c-21 { width: 21em; }
.c-22 { width: 22em; }
.c-23 { width: 23em; }
.c-24 { width: 24em; }
.c-25 { width: 25em; }
.c-26 { width: 26em; }
.c-27 { width: 27em; }
.c-28 { width: 28em; }
.c-29 { width: 29em; }
.c-30 { width: 30em; }
.c-31 { width: 31em; }
.c-32 { width: 32em; }
.c-33 { width: 33em; }
.c-34 { width: 34em; }
.c-35 { width: 35em; }
.c-36 { width: 36em; }
.c-37 { width: 37em; }
.c-38 { width: 38em; }
.c-39 { width: 39em; }
.c-40 { width: 40em; }
.c-41 { width: 41em; }
.c-42 { width: 42em; }
.c-43 { width: 43em; }
.c-44 { width: 44em; }
.c-45 { width: 45em; }
.c-46 { width: 46em; }
.c-47 { width: 47em; }
.c-48 { width: 48em; }
.c-49 { width: 49em; }
.c-50 { width: 50em; }
.c-51 { width: 714px; }
.c-52 { width: 728px; }
.c-53 { width: 742px; }
.c-54 { width: 756px; }
.c-55 { width: 770px; }
.c-56 { width: 784px; }
.c-57 { width: 798px; }
.c-58 { width: 812px; }
.c-59 { width: 826px; }
.c-60 { width: 60em; }
.c-61 { width: 61em; }
.c-62 { width: 62em; }
.c-63 { width: 63em; }
.c-64 { width: 64em; }
.c-65 { width: 65em; }
.c-66 { width: 66em; }
.c-67 { width: 67em; }
.c-68 { width: 68em; }
.c-69 { width: 69em; }
.c-70 { width: 70em; }
.c-71 { width: 71em; }
.c-72 { width: 72em; }
.c-73 { width: 73em; }
.c-74 { width: 74em; }
.c-75 { width: 75em; }
.c-76 { width: 76em; }
.c-77 { width: 77em; }
.c-78 { width: 78em; }
.c-79 { width: 79em; }
.c-80 { width: 80em; }
.c-81 { width: 81em; }
.c-82 { width: 82em; }
.c-83 { width: 83em; }
.c-84 { width: 84em; }
.c-85 { width: 85em; }
.c-86 { width: 86em; }
.c-87 { width: 87em; }
.c-88 { width: 88em; }
.c-89 { width: 89em; }
.c-90 { width: 90em; }
.c-91 { width: 91em; }
.c-92 { width: 92em; }
.c-93 { width: 93em; }
.c-94 { width: 94em; }
.c-95 { width: 95em; }
.c-96 { width: 96em; }
.c-97 { width: 97em; }
.c-98 { width: 98em; }
.c-99 { width: 99em; }
.c-100 { width: 100em; }
.r-0 { height: 0; }
.r-1 { height: 14px; }
.r-2 { height: 28px; }
.r-3 { height: 42px; }
.r-4 { height: 56px; }
.r-5 { height: 70px; }
.r-6 { height: 84px; }
.r-7 { height: 98px; }
.r-8 { height: 112px; }
.r-9 { height: 126px; }
.r-10 { height: 140px; }
.r-11 { height: 154px; }
.r-12 { height: 168px; }
.r-13 { height: 182px; }
.r-14 { height: 196px; }
.r-15 { height: 15em; }
.r-16 { height: 16em; }
.r-17 { height: 17em; }
.r-18 { height: 252px; }
.r-19 { height: 19em; }
.r-20 { height: 20em; }
.r-21 { height: 21em; }
.r-22 { height: 22em; }
.r-23 { height: 23em; }
.r-24 { height: 24em; }
.r-25 { height: 25em; }
.r-26 { height: 26em; }
.r-27 { height: 27em; }
.r-28 { height: 28em; }
.r-29 { height: 29em; }
.r-30 { height: 30em; }
.r-31 { height: 31em; }
.r-32 { height: 32em; }
.r-33 { height: 33em; }
.r-34 { height: 34em; }
.r-35 { height: 35em; }
.r-36 { height: 36em; }
.r-37 { height: 37em; }
.r-38 { height: 38em; }
.r-39 { height: 39em; }
.r-40 { height: 40em; }
.r-41 { height: 41em; }
.r-42 { height: 42em; }
.r-43 { height: 43em; }
.r-44 { height: 44em; }
.r-45 { height: 45em; }
.r-46 { height: 46em; }
.r-47 { height: 47em; }
.r-48 { height: 48em; }
.r-49 { height: 49em; }
.r-50 { height: 50em; }
.r-51 { height: 714px; }
.r-52 { height: 728px; }
.r-53 { height: 742px; }
.r-54 { height: 756px; }
.r-55 { height: 770px; }
.r-56 { height: 784px; }
.r-57 { height: 798px; }
.r-58 { height: 812px; }
.r-59 { height: 826px; }
.r-60 { height: 60em; }
.r-61 { height: 61em; }
.r-62 { height: 62em; }
.r-63 { height: 63em; }
.r-64 { height: 64em; }
.r-65 { height: 65em; }
.r-66 { height: 66em; }
.r-67 { height: 67em; }
.r-68 { height: 68em; }
.r-69 { height: 69em; }
.r-70 { height: 70em; }
.r-71 { height: 71em; }
.r-72 { height: 72em; }
.r-73 { height: 73em; }
.r-74 { height: 74em; }
.r-75 { height: 75em; }
.r-76 { height: 76em; }
.r-77 { height: 77em; }
.r-78 { height: 78em; }
.r-79 { height: 79em; }
.r-80 { height: 80em; }
.r-81 { height: 81em; }
.r-82 { height: 82em; }
.r-83 { height: 83em; }
.r-84 { height: 84em; }
.r-85 { height: 85em; }
.r-86 { height: 86em; }
.r-87 { height: 87em; }
.r-88 { height: 88em; }
.r-89 { height: 89em; }
.r-90 { height: 90em; }
.r-91 { height: 91em; }
.r-92 { height: 92em; }
.r-93 { height: 93em; }
.r-94 { height: 94em; }
.r-95 { height: 95em; }
.r-96 { height: 96em; }
.r-97 { height: 97em; }
.r-98 { height: 98em; }
.r-99 { height: 99em; }
.r-100 { height: 100em; }
.p-0 { width: 0%; }
.p-1 { width: 4.16666667%; }
.p-2 { width: 8.33333333%; }
.p-3 { width: 12.5%; }
.p-4 { width: 16.66666667%; }
.p-5 { width: 20.83333333%; }
.p-6 { width: 25%; }
.p-7 { width: 29.16666667%; }
.p-8 { width: 33.33333333%; }
.p-9 { width: 37.5%; }
.p-10 { width: 41.66666667%; }
.p-11 { width: 45.83333333%; }
.p-12 { width: 50%; }
.p-13 { width: 54.16666667%; }
.p-14 { width: 58.33333333%; }
.p-15 { width: 62.5%; }
.p-16 { width: 66.66666667%; }
.p-17 { width: 70.83333333%; }
.p-18 { width: 75%; }
.p-19 { width: 79.16666667%; }
.p-20 { width: 83.33333333%; }
.p-21 { width: 87.5%; }
.p-22 { width: 91.66666667%; }
.p-23 { width: 95.83333333%; }
.p-24 { width: 100%; }
.hp-0 { height: 0%; }
.hp-1 { height: 4.16666667%; }
.hp-2 { height: 8.33333333%; }
.hp-3 { height: 12.5%; }
.hp-4 { height: 16.66666667%; }
.hp-5 { height: 20.83333333%; }
.hp-6 { height: 25%; }
.hp-7 { height: 29.16666667%; }
.hp-8 { height: 33.33333333%; }
.hp-9 { height: 37.5%; }
.hp-10 { height: 41.66666667%; }
.hp-11 { height: 45.83333333%; }
.hp-12 { height: 50%; }
.hp-13 { height: 54.16666667%; }
.hp-14 { height: 58.33333333%; }
.hp-15 { height: 62.5%; }
.hp-16 { height: 66.66666667%; }
.hp-17 { height: 70.83333333%; }
.hp-18 { height: 75%; }
.hp-19 { height: 79.16666667%; }
.hp-20 { height: 83.33333333%; }
.hp-21 { height: 87.5%; }
.hp-22 { height: 91.66666667%; }
.hp-23 { height: 95.83333333%; }
.hp-24 { height: 100%; }

/*
 * CSS Styles for shared element
 */
.row { clear: both; padding: 0; margin: 0; zoom: 1; }
.center-margin { margin: 0 auto; }
.d-none { display: none; }
.overflow-hidden { overflow: hidden; }
.float-left { float: left; display: block; }
.float-right { float: right; display: block; }
.text-center { text-align: center; }

.pa-1{ padding: 14px; }
.pa-2{ padding: 28px; }
.pa-3{ padding: 52px; }
.pt-1 { padding-top: 14px; }
.pt-2 { padding-top: 28px; }
.pt-3 { padding-top: 42px; }
.pt-4 { padding-top: 56px; }
.pt-5 { padding-top: 70px; }
.pt-6 { padding-top: 84px; }
.pt-7 { padding-top: 98px; }
.pt-8 { padding-top: 112px; }
.pt-9 { padding-top: 126px; }
.pt-10 { padding-top: 140px; }
.pt-11 { padding-top: 154px; }
.pt-12 { padding-top: 168px; }
.pb-1 { padding-bottom: 14px; }
.pb-2 { padding-bottom: 28px; }
.pb-3 { padding-bottom: 42px; }
.pb-4 { padding-bottom: 56px; }
.pb-5 { padding-bottom: 70px; }
.pb-6 { padding-bottom: 84px; }
.pb-7 { padding-bottom: 98px; }
.pb-8 { padding-bottom: 112px; }
.pb-9 { padding-bottom: 126px; }
.pb-10 { padding-bottom: 140px; }
.pl-1 { padding-left: 14px; }
.pl-2 { padding-left: 28px; }
.pl-3 { padding-left: 42px; }
.pl-4 { padding-left: 56px; }
.pl-5 { padding-left: 70px; }
.pl-6 { padding-left: 84px; }
.pl-7 { padding-left: 98px; }
.pl-8 { padding-left: 112px; }
.pl-9 { padding-left: 126px; }
.pl-10 { padding-left: 140px; }
.pr-1 { padding-right: 14px; }
.pr-2 { padding-right: 28px; }
.pr-3 { padding-right: 42px; }
.pr-4 { padding-right: 56px; }
.pr-5 { padding-right: 70px; }
.pr-6 { padding-right: 84px; }
.pr-7 { padding-right: 98px; }
.pr-8 { padding-right: 112px; }
.pr-9 { padding-right: 126px; }
.pr-10 { padding-right: 140px; }
.mt-1 { margin-top: 14px; }
.mt-2 { margin-top: 28px; }
.mt-3 { margin-top: 42px; }
.mt-4 { margin-top: 56px; }
.mt-5 { margin-top: 70px; }
.mt-6 { margin-top: 84px; }
.mt-7 { margin-top: 98px; }
.mt-8 { margin-top: 112px; }
.mt-9 { margin-top: 126px; }
.mt-10 { margin-top: 140px; }
.mb-1 { margin-bottom: 14px; }
.mb-2 { margin-bottom: 28px; }
.mb-3 { margin-bottom: 42px; }
.mb-4 { margin-bottom: 56px; }
.mb-5 { margin-bottom: 70px; }
.mb-6 { margin-bottom: 84px; }
.mb-7 { margin-bottom: 98px; }
.mb-8 { margin-bottom: 112px; }
.mb-9 { margin-bottom: 126px; }
.mb-10 { margin-bottom: 140px; }
.ml-1 { margin-left: 14px; }
.ml-2 { margin-left: 28px; }
.ml-3 { margin-left: 42px; }
.ml-4 { margin-left: 56px; }
.ml-5 { margin-left: 70px; }
.ml-6 { margin-left: 84px; }
.ml-7 { margin-left: 98px; }
.ml-8 { margin-left: 112px; }
.ml-9 { margin-left: 126px; }
.ml-10 { margin-left: 140px; }
.mr-1 { margin-right: 14px; }
.mr-2 { margin-right: 28px; }
.mr-3 { margin-right: 42px; }
.mr-4 { margin-right: 56px; }
.mr-5 { margin-right: 70px; }
.mr-6 { margin-right: 84px; }
.mr-7 { margin-right: 98px; }
.mr-8 { margin-right: 112px; }
.mr-9 { margin-right: 126px; }
.mr-10 { margin-right: 140px; }